.experience-block {
    margin-top: 20px;
}

.experience-block .icon {
    margin-right: 8px;
    max-width: 18px;
    max-height: 18px;
}

.experience-block .upper .title {
    font-size: 20px;
}

.experience-block .upper .employment {
    height: 24px;
    font-size: 9px;
    font-weight: 600;
    color: #018C0F;
    background-color: #D7FFE0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

.experience-block .upper,
.experience-block .lower {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 12px;
}

.experience-block .lower {
    display: flex;
    color: #A7A7A7;
    margin-bottom: 15px;
}

.experience-block .lower>div {
    display: flex;
}