.footer {
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer hr {
    margin: 50px 0;
    border-top: solid #666666 2px;
}

.footer .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer .info>* {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
}

.footer .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer .info {
        flex-direction: column;
        gap: 20px;
    }

    .footer hr {
        margin: 20px 0;
    }

    .footer .nav .list {
        flex-direction: column;
    }

    .footer .nav .list .item {
        margin: 3px 0;
    }
}