.projects-page .page-content {
    padding-top: 15%;
    padding-bottom: 15%;
}

.projects-page .page-content .filters {
    display: flex;
    margin-bottom: 60px;
}

.projects-page .page-content .filters>* {
    flex: 1 0 0%;
}

.projects-page .page-content .filters>*:not(:last-child) {
    margin-right: 45px;
}

.projects-page .page-content .subtitle {
    font-size: 20px;
    line-height: 1.4;
}

.projects-page .page-content .desc {
    margin-bottom: 5%;
}

.projects-page .page-content .no-result-message {
    width: 100%;
    text-align: center;
}

.projects-page .page-content .view-btn {
    background: none;
    border: 0;
    width: 35px;
    height: 35px;
}

.projects-page .page-content .view-btn img {
    width: 100%;
    height: 100%;
    filter: invert(34%) sepia(73%) saturate(22%) hue-rotate(40deg) brightness(100%) contrast(89%);
}

@media screen and (max-width: 480px) {
    .projects-page .page-content .filters {
        flex-direction: column;
        gap: 10px;
    }

    .projects-page .page-content .filters .view-btn {
        align-self: end;
    }
}